<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <p>Project page text would go here</p>
    {{> footer}}
  </body>
</html>
